# SPDX-License-Identifier: GPL-2.0
#
# spacemit sensor configuration
#

comment "SPACEMIT K3 Camera Sensor"

config SPACEMIT_K3_CAM_IMX219
	tristate "Sony IMX219 sensor support for K3"
	depends on SPACEMIT_K3_CCIC && I2C
	select MEDIA_CONTROLLER
	select V4L2_ASYNC
	select V4L2_FWNODE
	select VIDEO_V4L2_SUBDEV_API
	help
	  This is a i2c sensor driver for the Sony
	  IMX219 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called imx219.

config SPACEMIT_K3_CAM_IMX415
	tristate "Sony IMX415 sensor support for K3"
	depends on SPACEMIT_K3_CCIC && I2C
	select MEDIA_CONTROLLER
	select V4L2_ASYNC
	select V4L2_FWNODE
	select VIDEO_V4L2_SUBDEV_API
	help
	  This is a i2c sensor driver for the Sony
	  IMX415 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called imx219.

config SPACEMIT_K3_CAM_OV5647
	tristate "OmniVision OV5647 sensor support"
	depends on SPACEMIT_K3_CCIC && I2C
	select MEDIA_CONTROLLER
	select V4L2_ASYNC
	select V4L2_FWNODE
	select VIDEO_V4L2_SUBDEV_API
	help
	  This is a i2c sensor driver for the OmniVision
	  OV5647 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called ov5647.

config SPACEMIT_K3_CAM_OV2735
	tristate "OmniVision OV2735 sensor support"
	depends on SPACEMIT_K3_CCIC && I2C
	select MEDIA_CONTROLLER
	select V4L2_ASYNC
	select V4L2_FWNODE
	select VIDEO_V4L2_SUBDEV_API
	help
	  This is a i2c sensor driver for the OmniVision
	  OV2735 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called OV2735.

config SPACEMIT_K3_CAM_OV5640_MAX96724_MAX9295
	tristate "OV5640 over MAX96724/MAX9295 GMSL module support"
	depends on SPACEMIT_K3_CCIC && I2C
	help
	  This is a simplified I2C/ioctl sensor driver for the OV5640 sensor
	  connected through a MAX96724 deserializer and MAX9295 serializer.

	  It provides power, register initialization, stream control and
	  GMSL bring-up logic for the Spacemit K3 camera pipeline.
